<h2 class="title m-4">Template <small>Form</small> </h2>

<hr>

<div class="container d-flex align-items-center justify-content-center border border-dark pb-5 mt-5 w-50">

	<form class="w-75"(ngSubmit)="save(form)" #form="ngForm">

    <div class="mt-5 mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input 
      class="form-control" 
      type="text" 
      name="name"
      placeholder="Insert your name" 
      required 
      minlength="5" 
      [ngClass]="{ 'is-invalid':name.invalid && name.touched }"
      ngModel
      #name="ngModel">
      <span class="text-danger fadeIn" *ngIf="name.touched && name.invalid || form.touched && form.invalid" >Please enter your name</span>
    </div>

    <div class="mb-3">
      <label class="form-label">Surename</label>
      <input 
      class="form-control" 
      type="text" 
      name="surename" 
      placeholder="Insert your surename" 
      required 
      [ngModel]=""
      minlength="5"
      ngModel     
      [ngClass]="{ 'is-invalid':surename.invalid && surename.touched }"
      #surename="ngModel">
      <span class="text-danger fadeIn" *ngIf="surename.touched && surename.invalid || form.touched && form.invalid" >Please enter your surename</span>
    </div>

    <div class="mt-5 mb-3">
      <label class="form-label">Email address</label>
      <input 
      class="form-control" 
      type="email" 
      name="email"
      placeholder="email@email.com"
      required 
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" 
      [ngClass]="{ 'is-invalid':email.invalid && email.touched }"
      ngModel
      #email="ngModel">
      <span class="text-danger fadeIn" *ngIf="email.touched && email.invalid || form.touched && form.invalid" >Please enter your email</span>
    </div>

    <button type="submit" class="btn btn-outline-primary">Submit</button>

  </form>

</div>