<h2 class="title m-4">Reactive <small>Form</small> </h2>

<hr>

<div class="container d-flex align-items-center justify-content-center border border-dark pb-5 mt-5 w-50">

	<form class="w-75">
    <div class="mt-5 mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Surename</label>
      <input type="text" class="form-control">
    </div>
    <div class="mt-5 mb-3">
      <label class="form-label">Email address</label>
      <input type="email" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>