<h2 class="title m-4">Reactive <small>Form</small> </h2>

<hr>

<div class="container d-flex align-items-center justify-content-center border border-dark pb-5 mt-5 w-50">

	<form form class="w-75" [formGroup]="form" (ngSubmit)="save()">
    <div class="mt-5 mb-3">
      <label class="form-label">Name</label>
      <input type="text"
            class="form-control"
            formControlName="name"
       >
    </div>
    <div class="mb-3">
      <label class="form-label">Surename</label>
      <input type="text"
       class="form-control"
       formControlName="surename"
       >
    </div>
    <div class="mt-5 mb-3">
      <label class="form-label">Email address</label>
      <input type="email"
       class="form-control"
       formControlName="email"
       >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

<hr>
<pre>
  Estado del formulario: {{form.valid}}
  <br>
  Status: {{form.status}}
</pre>

<pre>
  {{form.value | json}}
</pre>